<div class="py-5 text-center">
  
  
  
</div>
<div class="row">
  <div class="col-md-3 mb-3">
    <img class="d-block mx-auto mb-4" src="../../assets/maverick.PNG" alt="" width="120" height="120">
  </div>
  <div class="col-md-9 mb-3">
    <h2 class = "display-6">Hi, {{portfolioData.userDTO.name}}</h2>  
    <p class="lead">Maverick is dedicated to providing users with a dynamic and user-friendly portfolio page that redefines the way you manage your investments.</p>
  </div>
</div>
<hr>
<h2 class="display-6">Transaction History</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Stock Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Order Type</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tradeOrder of portfolioData.tradeOrderDTOs">
      <td>{{tradeOrder.stockName}}</td>
      <td>{{tradeOrder.stockTickerLabel}}</td>
      <td>{{tradeOrder.stockVolume}}</td>
      <td>{{tradeOrder.stockPrice}}</td>
      <td>{{tradeOrder.stockStatusCode}}</td>
      <td>{{tradeOrder.buyOrSell}}</td>
      <td>{{tradeOrder.createdOn  | date:'short'}}</td>

    </tr>
  </tbody>
</table>