<hr>
<div class = "display-6">Orders</div>
<hr>
<mat-button-toggle-group #groupInstance="matButtonToggleGroup" multiple>


  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <!-- <mat-panel-title style="display: block;"> {{order.stockName}} </mat-panel-title> -->
      <mat-panel-description>
        <div class="flex-container">
          <!-- <div>{{order.tradeOrderId}}</div> -->
          <div style="font-weight:bold">Stock Name</div>
          <div style="font-weight:bold">Label</div>
          <div style="font-weight:bold">Trigger</div>
          <div style="font-weight:bold">Volume</div>
          <div style="font-weight:bold">Status</div>
        </div>
      </mat-panel-description>
      
    </mat-expansion-panel-header>
  </mat-expansion-panel>


  <mat-accordion multi="true" hideToggle>
    <div *ngFor="let order of orders" style="justify-content: space-between;">
    <!-- <mat-button-toggle value="{{order.tradeOrderId}}"></mat-button-toggle> -->
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <!-- <mat-panel-title style="display: block;"> {{order.stockName}} </mat-panel-title> -->
        <mat-panel-description>
          <div class="flex-container">
            <!-- <div>{{order.tradeOrderId}}</div> -->
            <div style="font-weight:bold">{{order.stockName}}</div>
            <div>{{order.stockTickerLabel}}</div>
            <div>{{order.stockPrice | currency: 'USD'}}</div>
            <div>{{order.stockVolume}}# </div>
            <div>{{order.stockStatusCode}}</div>
          </div>
        </mat-panel-description>
        
      </mat-expansion-panel-header>
      <div>Order Type: {{order.buyOrSell}}</div>
      <div>Total Value: {{order.stockPrice * order.stockVolume  | currency: 'USD'}}</div>
      <div>Modified on: {{order.createdOn}}</div>
      <mat-action-row> 
        <!-- <div>
          Update/Manage
        </div> -->
          <input type="number" #ord_quantity placeholder="Quantity"> <br>
          <input type="number" #ord_amount placeholder="Amount"> <br>
          <button mat-fab color="warn" aria-label="edit icon">
            <mat-icon (click)="handleUpdate(order, ord_quantity.value, ord_amount.value)">edit</mat-icon>
          </button>
          <button mat-fab color="warn" aria-label="delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <!-- <app-update-order-button *ngIf=" order.stockStatusCode === 'PENDING'" id="{{order.tradeOrderId}}"></app-update-order-button > -->
  
        <!-- <app-cancel-order-button *ngIf=" order.stockStatusCode === 'PENDING' "   id="{{order.tradeOrderId}}"></app-cancel-order-button> -->
      </mat-action-row>
    </mat-expansion-panel>
  </div>
  </mat-accordion>
</mat-button-toggle-group>
{{groupInstance.value}}