<h1 class="display-6">Delete an Order</h1>    
<hr>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <span class="input-group-text">Order ID</span>
      </div>
      <div class="col-6">
        <input #tickerid placeholder="Enter valid Order ID" type="number" class="form-control">
      </div>
      <div class="col">
        <button style = "width: 100%" type="button" class="btn btn-danger" (click)="DeleteOrder(tickerid.value)">Delete Order</button>
      </div>
    </div>
  </div>
  <hr>
  <!-- <button (click)="delete()"></button>
  <app-delete> {{}}</app-delete> -->