<h2 class="mb-4">Add</h2>

<form [formGroup]="orderForm" (submit)="handleSubmit()" class="needs-validation" novalidate>

    <div class="form-group">
        <label for="stockTickerLabel">Ticker Name:</label>
        <select id="stockTickerLabel" formControlName="stockTickerLabel" class="form-control">
            <option *ngFor="let ticker of tickers" value="{{ticker}}">{{ticker}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="stockPrice">Stock Price</label>
        <input type="number" id="stockPrice" formControlName="stockPrice" class="form-control">
    </div>

    <div class="form-group">
        <label for="stockVolume">Stock Volume</label>
        <input type="number" id="stockVolume" formControlName="stockVolume" class="form-control">
    </div>

    <div class="form-group">
        <label for="buyOrSell">Type</label>
        <select id="buyOrSell" formControlName="buyOrSell" class="form-control">
            <option *ngFor="let tradeType of tradeTypes" value="{{tradeType.value}}">{{tradeType.key}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
